%% When enabling SSL with cassandra, you need to provide cqerl with SSL options
% {cqerl_test_ssl, [ { cacertfile, "cassandra.pem" } ] }.
{cqerl_test_ssl, false }.

%% This configuration can be enable and adjusted to provide a custom username/password pair
% {cqerl_test_auth, { cqerl_auth_plain_handler, [ {"test", "aaa"} ] }}.
{cqerl_test_auth, { cqerl_auth_plain_handler, [] }}.

{cqerl_test_keyspace, "test_keyspace"}.
{cqerl_host, { "127.0.0.1", 9042 }}.
{pool_min_size, 5}.
{pool_max_size, 10}.
