{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
        {snappyer, "1.2.10"},
        {lz4, "0.2.4", {pkg, lz4_erl}},
        {semver, "0.0.1", {pkg, semver_erl}},
        {uuid, "2.0.0", {pkg, uuid_erl}},
        {re2, "1.9.8"}
]}.
{plugins, [rebar3_hex]}.
