{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
        {snappy, "1.1.1"},
        {lz4, "0.2.2", {pkg, lz4_erl}},
        {semver, "0.0.1", {pkg, semver_erl}},
        {uuid, "1.7.4", {pkg, uuid_erl}},
        {pooler, "1.5.3"},
        {re2, "1.9.5"}
]}.
