{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
  {xxhash, ".*", {git, "https://github.com/pierresforge/erlang-xxhash.git"}},
  {snappy, ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif.git"}},
  {lz4, ".*", {git, "https://github.com/szktty/erlang-lz4.git"}},
  {semver, ".*", {git, "https://github.com/nebularis/semver.git"}},
  {pooler, ".*", {git, "https://github.com/seth/pooler.git"}}
]}.